// color vars
// // basic
$color-orange = #fc9153;
$color-regular-blue = #f82a31;
$color-background = #f3f4f5;
$color-white = #fff;
// // gray
$color-dark-grey = #333;
$color-grey = #898989;
$color-light-grey = #999;
$color-light-grey-s = #ccc;
$color-light-grey-ss = #eee;
$color-light-grey-sss = #fcfcfc;
$color-active-grey = #e8e8e8;
$color-dark-grey-opacity = rgba(74, 76, 91, 0.8);
$color-grey-opacity = rgba(0, 0, 0, 0.08);
$color-light-grey-opacity = rgba(0, 0, 0, 0.04);
// // orange
$color-dark-orange = #f82a31;
$color-light-orange = #fdc2a5;
$color-orange-opacity = rgba(252, 145, 83, 0.08);
$color-light-orange-opacity = rgba(252, 145, 83, 0.04);
// // blue
$color-blue = #f82a31;
// // row line
$color-row-line = #ebebeb;
// // column line
$color-col-line = #f5f5f5;
// / mask
$color-mask-bg = rgba(37, 38, 45, 0.4);

/* toast字体样式大小 */
.cube-toast-tip {
	font-size: 24px;
	line-height: 1.5;
}

/* Dialog样式 */
.cube-dialog-main {
	width: 500px;
}

.cube-dialog-close {
	width: 60px;
	height: 60px;
	font-size: 50px;
}

.cube-dialog-title-def {
	margin-bottom: 20px;
}

.cube-dialog-icon {
	font-size: 80px;
}

.cube-dialog-icon i {
	width: 80px;
	height: 80px;
	background-color: #fff;
}

.cube-dialog-title {
	font-size: 30px;
}

.cube-dialog-content {
	font-size: 28px;
	line-height: 1.5;
}

.cube-dialog-btn {
	font-size: 30px;
}

/* ****tab内容上下居中**** */
.cube-tab {
	align-items: center;
}