@font-face {
  font-family: 'iconfont';  /* project id 1402461 */
  src: url('./../fonts/iconfont.eot');
  src: url('./../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('./../fonts/iconfont.woff2') format('woff2'),
  url('./../fonts/iconfont.woff') format('woff'),
  url('./../fonts/iconfont.ttf') format('truetype'),
  url('./../fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconcoupon:before {
  content: "\e6b8";
}

.iconreward:before {
  content: "\e64c";
}

.iconheader:before {
  content: "\e640";
}

.iconplus:before {
  content: "\e641";
}

.iconquan:before {
  content: "\e748";
}

.icon-line-graph:before {
  content: "\e662";
}

.iconbindphone:before {
  content: "\e66f";
}

.iconhome:before {
  content: "\e663";
}

.iconquestion:before {
  content: "\e617";
}

.iconfire:before {
  content: "\e634";
}

.iconticket:before {
  content: "\e619";
}

.iconcoin:before {
  content: "\e69e";
}

.iconinvite:before {
  content: "\e7dd";
}

.iconlock:before {
  content: "\e657";
}

.iconadd:before {
  content: "\e614";
}

.iconsuojin:before {
  content: "\e644";
}

.iconmine:before {
  content: "\e64f";
}

.iconchongzhi:before {
  content: "\e61e";
}

.iconmenu:before {
  content: "\e63a";
}

.iconlovemoney:before {
  content: "\e687";
}

.iconlaba:before {
  content: "\e62d";
}

.icongenjinjilu:before {
  content: "\e69b";
}

.iconsuggestion:before {
  content: "\e65f";
}

.iconcode:before {
  content: "\e6ba";
}

.iconrecord:before {
  content: "\e75d";
}

.iconwechat:before {
  content: "\e64d";
}

.iconphonecode:before {
  content: "\e61b";
}

.icongear:before {
  content: "\e602";
}

.iconcoupon1:before {
  content: "\e6d0";
}

.icongame:before {
  content: "\e6cf";
}

.iconuncheck:before {
  content: "\e852";
}

.iconchecked:before {
  content: "\e853";
}

.iconclose:before {
  content: "\e710";
}

.iconrank:before {
  content: "\e629";
}

.iconarrow-left:before {
  content: "\e63c";
}

.iconarrow-down:before {
  content: "\e63d";
}

.iconarrow-up:before {
  content: "\e63e";
}

.iconarrow-right:before {
  content: "\e63f";
}

.iconman:before {
  content: "\e60f";
}

.iconprev:before {
  content: "\e610";
}

.iconphone:before {
  content: "\e611";
}

.iconremind:before {
  content: "\e612";
}

.iconlocation:before {
  content: "\e613";
}

.iconnext:before {
  content: "\e615";
}

.icontrash:before {
  content: "\e616";
}

.iconwoman:before {
  content: "\e618";
}

.iconsearch:before {
  content: "\e61a";
}

.iconcalendar:before {
  content: "\e61c";
}

.iconvoice:before {
  content: "\e61d";
}
