/****字体大小*****/

$size-xl=58px
$size-l=40px
$size-m=30px
$size-s=28px
$size-xs=24px

/*****常用高度*****/
$height-header=90px

/*****圆角大小*****/
$size-radius=16px;

/*****内容宽度*****/
$width-content=690px;

/*****页面背景颜色*****/
$color-bg=#eee;

/*****页面间距*****/
$padding-l=20px;
$padding-m=15px;
$padding-s=10px;

/*****字体颜色*****/
$color-deep=#5b5b5b;
$color-shallow=#838383;