/****字体大小*****/

$size-xl=58px
$size-l=40px
$size-m=30px
$size-s=28px
$size-xs=24px
$size-xxs=18px

/*****常用高度*****/
$height-header=90px

/*****圆角大小*****/
$size-radius=16px;

/*****内容宽度*****/
$width-content=690px;

/*****页面背景颜色*****/
$color-bg=#eee;

/*****页面间距*****/
$padding-xxxl=40px;
$padding-xxl=36px;
$padding-xl=24px;
$padding-l=20px;
$padding-m=15px;
$padding-s=10px;

/*****字体颜色*****/
$color-deep=#5b5b5b;
$color-shallow=#838383;

$color-border=#d4d4d4;

/*****图标大小*****/
$size-icon-l=50px;
$size-icon-m=40px;
$size-icon-s=30px;
